/******************
ESTILOS DE TIPOGRAFIAS
*******************************/
/*VARIABLES  */
.textoCarousel {
  color: #F2E9D8;
  font-family: 'Yeseva One', cursive;
  font-weight: bold;
  font-size: 6rem;
  text-align: center; }

h1 {
  color: #474747;
  font-family: 'Yeseva One', cursive;
  font-weight: bold;
  font-size: 2rem;
  margin: 1.5rem; }

h2 {
  color: #474747;
  font-family: 'Yeseva One', cursive;
  font-weight: bold;
  font-size: 1.5625rem;
  margin: 1.25rem; }

h3 {
  color: #474747;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5625rem;
  padding: 0.625rem 1.5rem; }

h4 {
  color: #474747;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold; }

/* h5 {
    color: $gris;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: regular;
} */
p {
  color: #474747;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.5;
  padding: 0.625rem 1.5rem; }

.negrita {
  font-weight: bold; }

.navbar-light {
  color: #474747;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem; }

ul {
  color: #474747;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: regular;
  font-size: 1.5rem; }
  ul li {
    margin: 5px;
    font-size: 1.5rem; }

/* RESPONSIVE */
/* MEDIA QUERIES */
/* Smartphone */
@media (max-width: 599px) {
  html {
    font-size: 70%; }
  header {
    display: flex;
    flex-direction: column;
    width: 100%; }
  body {
    width: 100%; }
  .gridCuatroCol {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .gridDosCol {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  /*   .iframeContainer{
    display: flex;
    flex-direction: column;
  } */
  /*   .container{
    width: 100%;
  } */
  footer {
    display: flex;
    flex-direction: column;
    width: 100%; }
  /*   .iframe{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}  */ }

/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  html {
    font-size: 80%; }
  header {
    display: flex;
    flex-direction: column;
    width: 100%; }
  body {
    width: 100%; }
  .gridCuatroCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .gridDosCol {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr); }
  /*   .iframeContainer{
  display: flex;
  flex-direction: column;
} */
  /*   .iframe{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
} */
  footer {
    display: flex;
    flex-direction: column;
    width: 100%; } }

@media (min-width: 1024px) {
  /*   html{
    font-size: 16px;
  } */
  header {
    display: flex;
    flex-direction: row;
    width: 100%; }
  body {
    width: 100%; }
  .gridCuatroCol {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
  .gridDosCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  /*   .iframe{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */
  footer {
    display: flex;
    flex-direction: row;
    width: 100%; } }

.fondoRosa {
  background-color: #f2bbe3; }

.producto {
  margin: 10px;
  border: 3px solid;
  border-radius: 15px;
  border-color: #474747;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.producto__titulo {
  color: #474747;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1.5rem; }

.producto__imagen {
  justify-self: center;
  border-radius: 15px; }

.producto__precio {
  color: #474747;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.5;
  padding: 1.5rem; }

.producto__boton {
  padding: 5px 20px;
  background-color: #F2B33D;
  color: #474747;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid;
  border-color: #474747;
  border-radius: 15px;
  margin: 10px; }

.footer {
  width: 100%;
  background-color: #2A5955;
  padding: 10px 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0rem; }

.footer__texto {
  color: #F2E9D8;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 16px; }

.footer__titulo {
  color: #F2E9D8;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0px; }

.footer__logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left; }

.footer__iconos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center; }

.footer__icono {
  padding: 5px; }

.footer__boton {
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F2B33D;
  color: #474747;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 15px;
  border: 1px solid;
  border-color: #474747;
  margin: 10px 0px; }

.footer__form {
  color: #F2E9D8;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1; }

.texto {
  color: #474747; }

.texto__titulo {
  font-family: 'Yeseva One', cursive;
  font-weight: bold;
  font-size: 25px;
  margin: 1.5rem; }

.texto__cuerpo {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.5;
  padding: 1.5rem; }

/* .container{
width: $ancho;
margin: 1.5rem;
justify-items:flex-start;
}
 */
.container__producto {
  width: 600px;
  margin: 1rem;
  padding: 5px;
  border: 2px solid;
  border-radius: 15px;
  border-color: #474747;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

/* EXTEND */
.boton, .botonEnviar, .botonLimpiar {
  padding: 5px 1.5rem;
  color: #474747;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid;
  border-color: #474747;
  border-radius: 15px;
  margin: 10px; }

.botonEnviar {
  background-color: #F2B33D; }

.botonLimpiar {
  background-color: #F2BBE3; }

header {
  width: 100%;
  padding: 1.25rem;
  background-color: #F2BBE3;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

body {
  background-color: #F2E9D8;
  width: 100%; }

main {
  width: 100%;
  min-height: 100vh; }

.navbar {
  height: 130px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2BBE3; }

.navbar-collapse {
  z-index: 1; }

.navbar-nav {
  background-color: #F2BBE3;
  padding: 30px; }

button.navbar-toggler {
  color: #474747; }

nav ul li:hover ul {
  background-color: #F2B33D;
  color: #474747;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  list-style-type: none;
  display: block;
  position: absolute;
  text-align: left;
  padding: 20px;
  width: 220px;
  height: auto;
  z-index: 1; }

.navbar-light {
  color: #474747;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 20px; }

/* nav {
  height: 5rem;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    flex-direction: row; 
    ul {
      display: none;
    }

    li:hover ul {
      background-color: $amarillo;
      color: $gris;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: normal;
      list-style-type: none;
      display: block;
      position: absolute;
      text-align: left;
      padding: 1.25rem;
      width: 13.75rem;
      height: 12.5rem;
    }
  }
}  */
#carouselExampleCaptions {
  z-index: 0; }

table {
  border: 1px solid;
  margin: 1.25rem; }

th {
  background-color: #F2BBE3;
  border: 1px solid;
  padding: 0.625rem;
  font-size: 1.25rem; }

tr, td {
  border: 1px solid;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  padding: 0.625rem;
  font-size: 1rem; }

.form {
  color: #474747;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
  margin: 1.25rem;
  line-height: 1; }
  .form input, .form select, .form textarea {
    margin: 0.2rem;
    border: 1px solid #474747;
    border-radius: 0.3125rem; }
  .form label {
    margin: 0.2rem; }

.fotoGrande {
  width: 100%;
  background-position: center center; }

/* .menuFlex {
  display: flex;
  justify-content: center;
  text-align: center;

  a {
    text-decoration: none;
    margin: 0.625rem;
    color: $gris;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    height: 1.875rem;
    text-align: center;
    list-style-type: none;
  }

    li {
  list-style-type: none;
} 
}*/
/* .gridCuatroCol {
  display: grid;
}

.gridDosCol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */
/* .iframeContainer{
  display: flex;
} */
/* .iframe {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
  justify-content: center;
  align-items: center;
} */
/* DEGRADADO */
.degradadoHeader {
  background-color: #eec0c6;
  background-image: linear-gradient(to bottom, #F2E9D8, #F2BBE3 95%); }

/* TRANCISIONES */
/* .transicionBoton {
  transition: all 2s;

  &:hover {
    border: $amarillo solid 1px;
    color: $amarillo;
    background-color: $gris;
  }
} */
.notFound {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .notFound img {
    flex-direction: row; }
  .notFound h1 {
    font-size: 3rem; }
  .notFound input {
    padding: 0.3125rem 1.25rem;
    background-color: #F2B33D;
    color: #474747;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    border: 2px solid;
    border-color: #474747;
    border-radius: 0.9375rem;
    margin: 0.625rem; }
