$titulo: "Yeseva One", "Source Serif Pro", sans-serif;
$texto:  "Source Sans Pro","Calibri", sans-serif;

.producto {
    margin: 1rem;
    border: 2px solid;
    border-radius: 15px;
    border-color: $gris;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}
.producto__titulo{
    color: $gris;
    font-family: $texto;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
.producto__imagen{
    justify-self: center;
    border-radius: 15px;
}
.producto__precio{
    color: $gris;
    font-family: $texto;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    padding: 10px;
}
.producto__boton{
    padding: 5px 10px;
    background-color:$amarillo;
    color:$gris;
    font-family: $texto;
    font-weight: bold;
    font-size: 1.25rem;
    border: 1px solid;
    border-color: $gris;
    border-radius: 15px;
    margin: 10px;
        &:hover{
        background-color: $gris;
        color: $amarillo;
    }
}

//BLOQUE BEM
.footer{
    width: 100%;
    background-color: $verde;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0px;
}
.footer__texto{
    color: $beige;
    font-family: $texto;
    font-weight: normal;
    font-size: 16px;
}
.footer__titulo {
    color: $beige;
    font-family: $texto;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    padding: 5px;
}
.footer__logo{
    display: flex;
    flex-flow:row nowrap;
    justify-content: left;
}
.footer__iconos{
    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.footer__icono{
    padding: 5px;
}
.footer__boton{
    padding: 10px;
    background-color: $amarillo;
    color: $gris;
    font-family: $texto;
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid;
    border-color: $gris;
    margin: 10px 0px;
        &:hover{
        background-color: $gris;
        color: $amarillo;
    }
}
.footer__form{
    color: $beige;
    font-family: $texto;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1;
}