//BLOQUE BEM
.producto {
    margin: 10px;
    border: 3px solid;
    border-radius: 15px;
    border-color: $gris;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.producto__titulo{
    color: $gris;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5rem;
}
.producto__imagen{
    justify-self: center;
    border-radius: 15px;
}
.producto__precio{
    color: $gris;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5;
    padding: 1.5rem;
}
.producto__boton{
    padding: 5px 20px;
    background-color: $amarillo;
    color: $gris;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    border: 1px solid;
    border-color: $gris;
    border-radius: 15px;
    margin: 10px;
}

//BLOQUE BEM
.footer{
    width: 100%;
    background-color: $verde;
    padding: 10px 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0rem;
}
.footer__texto{
    color: $beige;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
}
.footer__titulo {
    color: $beige;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0px;
}
.footer__logo{
    display: flex;
    flex-flow:row nowrap;
    justify-content: left;
}
.footer__iconos{
    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.footer__icono{
    padding: 5px;
}
.footer__boton{
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $amarillo;
    color: $gris;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 15px;
    border: 1px solid;
    border-color: $gris;
    margin: 10px 0px;
}
.footer__form{
    color: $beige;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1;
}
//BLOQUE BEM
.texto{
    color: $gris;
}
.texto__titulo{
    font-family: 'Yeseva One', cursive;
    font-weight: bold;
    font-size: 25px;
    margin: 1.5rem;
}
.texto__cuerpo{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5;
    padding: 1.5rem;
}