@import "variables";

/* FORMULARIO DE CONTACTO */
#contact-form {
    color:$gris;
    font-family: $texto;
    font-weight: normal;
    font-size: 1.25rem;
    margin: 10px 30px;
    line-height: 1.5;
    input,select,textarea{
        border: 1px solid $gris;
        border-radius: 0.3125rem;
        }
        label{
        margin: 0.2rem;
        }
}
/* BOTONES */
.boton{
    padding: 5px 1.5rem;
    color: $gris;
    font-family: $texto;
    font-weight: bold;
    font-size: 1.25rem;
    border: 1px solid;
    border-color: $gris;
    border-radius: 15px;
    margin: 10px;       
    &:hover{
        background-color: $gris;
        color: $amarillo;
    }
}
.botonEnviar{
    @extend .boton;
    background-color: $amarillo;
    &:hover{
        background-color: $gris;
        color: $amarillo;
    }
}
.botonLimpiar{
    @extend .boton;
    background-color: $rosa;
        &:hover{
        background-color: $gris;
        color: $rosa;
    }
}
