* { Margin:0;
    padding:0;
    box-sizing: border-box;
}
/* HEADER */
header {
    width: 100%;
    background-color: $rosa;
    display: flex;
    align-items: center;
}
.navbar {
    height: 120px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $rosa;
}
.navbar-collapse {
    z-index: 1;
    background-color: $rosa;
}
.navbar-nav {
    background-color: $rosa;
    padding: 20px;
}
button.navbar-toggler {
    color: $gris;
    background-color: $rosa;
}
nav ul li:hover ul {
    background-color: $amarillo;
    color: $gris;
    font-family: $texto;
    list-style-type: none;
    display: block;
    position: absolute;
    text-align: left;
    padding: 10px;
    width: auto;
    height: auto;
    z-index: 1;
}
.nav-item{
    color: $gris;
    font-family: $texto;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
}
.navbar-light {
    color: $gris;
    font-family: $texto;
    font-weight: bold;
    font-size: 1.25rem;
}
/* MODAL */
.modal-body {
    background-color: $beige;
}
.modal-header{
    background-color: $rosa;
}
.text-decoration-none{
    color:$gris;
    font-family: $texto;
    font-weight:bold;
    font-size: 1.25rem;
    &:hover{
        color: black;
    }
}

/* BODY */
body {
    background-color: $beige;
    width: 100%;
}
/* MAIN */
main {
    width: 100%;
    min-height: 100vh;
}
/* FOOTER */
.footer{
    width: 100%;
    background-color: $verde;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0px;
}
.footer__texto{
    color: $beige;
    font-family: $texto;
    font-weight: normal;
    font-size: 16px;
}
.footer__titulo {
    color: $beige;
    font-family: $texto;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    padding: 5px;
}
.footer__logo{
    display: flex;
    flex-flow:row nowrap;
    justify-content: left;
}
.footer__iconos{
    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.footer__icono{
    padding: 5px;
}
.footer__boton{
    padding: 10px;
    background-color: $amarillo;
    color: $gris;
    font-family: $texto;
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid;
    border-color: $gris;
    margin: 10px 0px;
        &:hover{
        background-color: $gris;
        color: $amarillo;
    }
}
.footer__form{
    color: $beige;
    font-family: $texto;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1;
}