$rosa:#F2BBE3;
$verde:#2A5955;
$amarillo:#F2B33D;
$beige:#F2E9D8;
$gris:#474747;
.rosa {
    color: #f2bbe3;
}
  
.verde {
    color: #2a5955;
}
  
.amarillo {
    color: #f2b33d;
}
  
.beige {
    color: #f2e9d8;
}
  
.gris {
    color: #474747;
}
  
.fondorosa {
    background-color: #f2bbe3;
}
  
.fondoverde {
    background-color: #2a5955;
}
  
.fondoamarillo {
    background-color: #f2b33d;
}
  
.fondobeige {
    background-color: #f2e9d8;
}
  
.fondogris {
    background-color: #474747;
}