/* RESPONSIVE */
/* MEDIA QUERIES */
/* Smartphone */
@media (max-width: 599px){
  html{
    font-size: 10em;
  }
  header{
      display: flex;
      flex-direction: column;
  }
  .gridCuatroCol{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  }
  .gridDosCol{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  } 
  .iframeContainer{
    display: flex;
    flex-direction: column;
  }
  footer{
      display: flex;
      flex-direction: column;
  }
.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
} 
}
/* Tablet */
@media (min-width: 600px) and (max-width: 1023px){
  html{
    font-size: 12em;
  }
  header{
      display: flex;
      flex-direction: column;
  }
  .gridCuatroCol{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .gridDosCol{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.iframeContainer{
  display: flex;
  flex-direction: column;
}
.container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
  footer{
      display: flex;
      flex-direction: column;
  }
}

@media (min-width: 1024px){
  html{
    font-size: 16px;
  }
  header{
      display: flex;
      flex-direction: row;
  } 
  .gridCuatroCol{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
  }
  .gridDosCol{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
  footer{
      display: flex;
      flex-direction: row;
  }
}
