/* RESPONSIVE */
/* MEDIA QUERIES */
/* Smartphone */
@media (max-width: 599px){
  header{
      display: flex;
      flex-direction: column;
  }
  footer{
      display: flex;
      flex-direction: column;
  }
}
/* Tablet */
@media (min-width: 600px) and (max-width: 1023px){
  header{
      display: flex;
      flex-direction: column;
  }
  footer{
      display: flex;
      flex-direction: column;
  }
}

@media (min-width: 1024px){
  header{
      display: flex;
      flex-direction: row;
  } 
  footer{
      display: flex;
      flex-direction: row;
  }
}
