$rosa:#FFBFEB;
$verde:#2A5F5E;
$amarillo:#F1B33A;
$beige:#FAF2DD;
$gris:#474747;

/******************
ESTILOS DE TIPOGRAFIAS
*******************************/
$titulo: "Georgia", serif;
$texto:  "Helvetica", sans-serif;

.textoCarousel{
    color: white;
    font-family: $titulo;
    font-weight: bold;
    font-size: 6rem;
    margin: 20px;
    text-align: center;
}

h1 {
    color: $gris;
    font-family: $titulo;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 10px 30px;
}

h2 {
    color:$gris;
    font-family: $titulo;
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 30px;
}

h3 {
    color: $gris;
    font-family: $titulo;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 30px;
}

p {
    color: $gris;
    font-family: $texto;
    font-weight: normal;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    padding: 10px 30px;
}

/* .negrita {
    font-weight: bold;
}
 */
.navbar-light {
    color: $gris;
    font-family: $texto;
    font-weight: bold;
    font-size: 20px;
}
