// IMPORTACION
@import "tipografia";
@import "responsive";
@import "paleta";
@import "estructura";
@import "bem";
@import "operaciones";

// VARIABLES
$rosa:#F2BBE3;
$verde:#2A5955;
$amarillo:#F2B33D;
$beige:#F2E9D8;
$gris:#474747;

header {
  width: 100%;
  padding: 1.25rem;
  background-color: $rosa;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: $beige;
  width: 100%;
}

main {
  width: 100%;
  min-height: 100vh;
}
.navbar {
  height: 120px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $rosa;
}

.navbar-collapse {
  z-index: 1;
}

.navbar-nav {
  background-color: $rosa;
  padding: 30px;
}

button.navbar-toggler {
  color:$gris;
}

nav ul li:hover ul {
  background-color: $amarillo;
  color: $gris;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  list-style-type: none;
  display: block;
  position: absolute;
  text-align: left;
  padding: 1.5rem;;
  max-width: 250px;
  height: auto;
  z-index: 1;
}

.navbar-light {
  color: $gris;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;;
}
/* nav {
  height: 5rem;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    flex-direction: row; 
    ul {
      display: none;
    }

    li:hover ul {
      background-color: $amarillo;
      color: $gris;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: normal;
      list-style-type: none;
      display: block;
      position: absolute;
      text-align: left;
      padding: 1.25rem;
      width: 13.75rem;
      height: 12.5rem;
    }
  }
}  */

table {
  border: 1px solid;
  margin: 1.25rem;
}

th {
  background-color: $rosa;
  border: 1px solid;
  padding: 0.625rem;
  font-size: 1.25rem;
}

tr, td {
  border: 1px solid;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  padding: 0.625rem;
  font-size: 1.25rem;
}

.form {
  color:$gris;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
  margin: 1.25rem;
  line-height: 1;
    input,select,textarea{
      margin: 0.2rem;
      border: 1px solid $gris;
      border-radius: 0.3125rem;
      }
      label{
        margin: 0.2rem;
      }
}

.fotoGrande {
  width: 100%;
  background-position: center center;
}

/* .menuFlex {
  display: flex;
  justify-content: center;
  text-align: center;

  a {
    text-decoration: none;
    margin: 0.625rem;
    color: $gris;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    height: 1.875rem;
    text-align: center;
    list-style-type: none;
  }

    li {
  list-style-type: none;
} 
}*/
.gridCuatroCol {
  display: grid;
}

.gridDosCol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* .iframeContainer{
  display: flex;
} */

.iframe {
  display: flex;
  margin: 1.25rem;
  justify-content: center;
  align-items: center;
}

/* DEGRADADO */
.degradadoHeader{
  background-color: #eec0c6;
background-image: linear-gradient(to bottom,#F2E9D8, #F2BBE3 95%);
}
/* TRANCISIONES */
.transicionBoton {
  transition: all 2s;

  &:hover {
    border: $amarillo solid 1px;
    color: $amarillo;
    background-color: $gris;
  }
}


.notFound {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  img {
    flex-direction: row;
  }

  h1 {
    font-size: 3rem;
  }

  input {
    padding: 0.3125rem 1.25rem;
    background-color: $amarillo;
    color: $gris;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    border: 2px solid;
    border-color: $gris;
    border-radius: 0.9375rem;
    margin: 0.625rem;
  }
}

