$rosa:#F2BBE3;
$verde:#2A5955;
$amarillo:#F2B33D;
$beige:#ffeeff;
$gris:#474747;

// .rosa {
//      color: #f2bbe3;
// }
  
// .verde {
//     color: #2a5955;
// }
  
// .amarillo {
//     color: #f2b33d;
// }
  
// .beige {
//     color: #f2e9d8;
// }
  
// .gris {
//     color: #474747;
// }
  
 .fondoRosa {
     background-color: #f2bbe3;
 }
  
// .fondoVerde {
//     background-color: #2a5955;
// }
  
// .fondoAmarillo {
//     background-color: #f2b33d;
// }
  
// .fondoBeige {
//     background-color: #f2e9d8;
// }
  
// .fondogris {
//     background-color: #474747;
// }